<!DOCTYPE html>
<html>
  <head>
  </head> 
  <body>
    <div class="page page-center">
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item center full">
                <h1 class="topcoat-navigation-bar__title">Eucalyptus</h1>
            </div>
        </div>
        <div class="details">
            <form>
                <div>
                    <label>Account: 
                        <input name="account" type="text" class="topcoat-text-input--large" data-value="account">
                    </label>
                </div>
                <div>
                    <label>Username: 
                        <input name="username" type="text" class="topcoat-text-input--large" data-value="username">
                    </label>
                </div>
                <div>
                    <label>Password:
                        <input name="password" type="password" class="topcoat-text-input--large" data-value="password">
                    </label>
                </div>
            </form>
        </div>
    </div>
  </body>
</html>
