<!DOCTYPE html>
<html>
  <head>
  </head> 
  <body>
    <div class="page page-center"><div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Eucalyptus Mobile</h1>
        </div>
    </div>
    <div class="search-bar">
        <input type="search" placeholder="search" class="topcoat-search-input search-key" style="width:100%;">
    </div>
    <div class="topcoat-list__container scroller">
    <ul class="topcoat-list">
        <li class="topcoat-list__item">Dashboard</li>
        <li class="topcoat-list__item">Instances</li>
        <li class="topcoat-list__item">Images</li>
        <li class="topcoat-list__item">Volumes</li>
    </ul>
    </div>
  </body>
</html>
